footer{
    background-color: $footercolor;
    width: 100%;
    height: $fheight;
    box-shadow: $shadow;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    div{
        color: $ffontcolor;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: $h1margin;
        h1{
            font-size: $ffontsize1;
            font-family: $fontfamyly1;
            font-variant: small-caps;
            font-weight: bold;
            margin-bottom: 1vw;
        }
        p{
            font-size: $ffontsize2;
            font-family: $fontfamyly2;
        }
    }
}